@import '../../common/css/public.scss';
body{

    #home{
        background: rgb(19, 91, 139);
        transition: background 2s;
        transform:rotate(7deg);
    }

    #content{
        width: 200px;
        height: 200px;
        background-image: url('~@images/fangjiao-logo.jpg');
    }

    .iconfont{
        font-size: 28px;
    }

}